/* Instrument Sans Font - Local */
@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url('../fonts/instrument-sans-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    src: url('../fonts/instrument-sans-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    src: url('../fonts/instrument-sans-600.woff2') format('woff2');
}

@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url('../fonts/instrument-sans-700.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility classes */
[x-cloak] {
    display: none !important;
}